@font-face {
	font-family: "Montserrat";
	src: url("$lib/assets/Montserrat-VariableFont_wght.ttf");
}

:root {
	--background-0: #1d182b;
	--background-1: #251d3a;
	--background-2: #2a2550;

	--accent-0: #e04d01;
	--accent-1: #ff7700;

	--default-text: white;

	background-color: var(--background-1);
	color: var(--default-text);
}

body {
	font-family: "Montserrat", sans-serif;
	touch-action: pan-y;
	height: 100vh;
}

.marginv {
	margin: 10px 0;
}

.marginh {
	margin: 0 10px;
}

input[type="text"],
input[type="password"] {
	border: 2px solid var(--accent-1);
	color: var(--default-text);
	background: transparent;
	border-radius: 10px;
	padding: 5px;
}

a,
button {
	transition: color 125ms ease-in-out;
	color: var(--accent-1);
	width: fit-content;
	background: none;
	border: none;
	padding: 0;

	&:hover {
		color: var(--accent-0);
		text-decoration: underline;
	}
}

.island {
	background-color: var(--background-2);
	border-radius: 20px;
	width: fit-content;
	padding: 20px;
}

div.full {
	width: 100%;
}

.code {
	background-color: #1f1d2a;
	display: inline-block;
	border-radius: 3px;
	margin: 3px 0;
	padding: 3px;
}

.error {
	color: #f55454;
}

p {
	margin: 16px 0;
}

.flexr {
	display: flex;
	flex-direction: row;
	gap: 10px;

	&.aligned {
		align-items: center;
	}

	&.justified {
		justify-content: center;
	}

	&.spaced {
		justify-content: space-between;
	}

	&.wrap {
		flex-wrap: wrap;
	}
}

.flexc {
	@extend .flexr;
	flex-direction: column;
}

@media (min-width: 600px) {
	.mobile {
		display: none;
	}
}

@media (max-width: 600px) {
	.desktop {
		display: none;
	}
}
